    body {
    font-family: 'Ubuntu', sans-serif !important;
    background-color: #e1f4ea !important;
    }

    .ui-widget {
    font-family: 'Ubuntu', sans-serif !important;
    }
    
    .headertext {
        font-size: 64px;
        height: 100px;
        line-height: 100px;
        color: #396746;
        vertical-align: middle;
        font-family: 'Alegreya Sans SC', sans-serif;
    }
    
    .infotext,
    .smallinfotext {
        color: #333333;
        font-weight: normal;
    }

    .infotext {
        font-size: 24px;
    }

    .smallinfotext {
    font-size: 20px;
    }
    
    .block-data,
    .block-info,
    .block-header {
        border-radius: 5px;
        margin-top: 5px;
        padding: 10px;
        border: 1px;
        border-style: solid;
    }
    
    .block-data {
        background-color: #ffffff;
        border-color: #dddddd;
        cursor: n-resize;
    }
    
    .block-data:hover {
        border-color: #848484;
        box-shadow:2px 2px 2px rgba(25%, 25%, 40%, 0.5);
    }
    .block-info {
        background-color: #ffffff;
        border-color: #afb4bf;
    }

    .block-header {
        background-color: #e1f4ea;
        border-color: #e1f4ea;
    }
    
    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }